td {
    padding: 0; 
}

#result {
    padding: 0;
    background-color: #000;
    height: 20px;
    width: 256px;
    color: #fff;
    text-align: right;
    border: 0;
}

.button {
    width:60px;
}

.subcol {
    width: 125px;
}